%hr#page_footer/
%footer
  .container
    .row
      - standard_width_div do
        %ul.list-inline.text-center
          %li
            = link_to 'https://www.linkedin.com/in/collins-liyosi-84903943', title: 'LinkedIn', relative: false, target: '_blank' do
              %span.fa-stack.fa-lg
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-linkedin.fa-stack-1x.fa-inverse

          %li
            = link_to 'https://github.com/liyocee', title: 'GitHub', relative: false, target: '_blank' do
              %span.fa-stack.fa-lg
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-github.fa-stack-1x.fa-inverse

          %li
            = link_to 'http://stackoverflow.com/users/1823036/liyosi', title: 'Stack Overflow', relative: false, target: '_blank' do
              %span.fa-stack.fa-lg
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-stack-overflow.fa-stack-1x.fa-inverse

          %li
            = link_to 'https://twitter.com/collinsliyosi', title: 'Twitter', relative: false, target: '_blank' do
              %span.fa-stack.fa-lg
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-twitter.fa-stack-1x.fa-inverse

        %p.copyright.text-muted
          CKL ,2016.
