---
title: About
priority: 0.75
description: About Me
---

/ Page Header
= partial :header, locals: { title: 'About', background_image: '/img/backgrounds/about.jpg' }

.container
  .row
    - standard_width_div do
      :markdown
        /About Me/


