---
title: Liyosi
---

<div class="welcome">
  <div class="logo">

  </div>
  <h1>Welcome to liyosi.com, a rant on anything tech</h1>
  <p class="doc">
    <%= link_to "Find me here", "https://github.com/liyocee", target: "_blank" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
