---
title: Portfolio
priority: 0.75
og_image: /img/portfolio/background.jpg
description: /projects/
---

/ Page Header
= partial :header, locals: { title: 'Liyosi Collins', subtitle: 'Awesome super-duper guy.', background_image: '/img/portfolio/background.jpg' }

.portfolio
  .container
    .row
      - standard_width_div do
        :markdown

          /projects/

  / Software
